/**-----google font.com------**/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body 
{
    font-family: 'Poppins',sans-serif;
}
h1
{
    margin: 0;
}
ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}
a 
{
    text-decoration: none;
}
img
{
    max-width: 100%;
    height: auto;
}
.header
{
    width: 100%;
    position: fixed;
    top: 24px;
    left: 0;
    background-color: transparent;
    z-index: 10;
}
.bd-grid
{
    display: -ms-grid;
    display: grid;
    -webkit-grid-column: 100%;
    grid-column: 100%;
    grid-template-columns: 100%;
    max-width: 1200px;
    margin-left: 1rem;
    margin-right: 1rem;
}
.nav
{
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    font-weight: bold;
    color: #fff;
}
.nav_logo
{
    color: #fff;
    font-size: 25px;
}
.nav_logo:hover
{
    color: #65ff00;
}

@media screen and (max-width: 768px)
{
.nav_menu
{
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    background-color: #111111;
    width: 85%;
    height: 85%;
    margin: auto;
    padding: 8rem;
    z-index: 100;
    transition: .5s;
}
}


.nav_list
{
    text-align: center;
}

.nav_item
{
    margin-bottom: 2rem;
}
.nav_link
{
    padding: .5rem;
    color: #fff;
}
.nav_link:hover
{
    color: #65ff00;
}
.nav_toggle
{
    color: #65ff00;
    cursor: pointer;
    font-size: 1.6rem;
}
.nav .show
{
    top: 3rem;
}

@media screen and (min-width: 768px)
{
    .nav_list
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .nav_item{
        margin-right: 1.5rem;
        margin-bottom: 0;
    }
    .nav_toggle
    {
        display: none;
    }
}

@media screen and (min-width: 1200px)
{
    .bd-grid
    {
        margin-right: auto;
        margin-left: auto;
    }
}
.main-bg
{
    height: 100vh;
}
.main-bg_hero-img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}
.home
{
    position: relative;
    height: 100%;
    -ms-flex-line-pack: center;
    align-content: center;
    justify-items: center;
    color: #fff;
    row-gap: 2rem;
}
.home_title
{
    font-size: 70px;
    background-image: linear-gradient(45deg,  #ceff1a 15%, #65ff00 65%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}
.button
{
    display: inline-block;
    padding: .5rem 1.5rem;
    background-color: #65ff00;
    color: #fff;
    margin-right: 1rem;
    border-radius: .25rem;
    font-size: 20px;
}
.button-btn
{
    background-color: transparent;
    color: #fff;
    border:1.5px solid #65ff00;
}
.button-btn:hover
{
    background-color: #65ff00;
    color: #fff;
}



.loader-wrapper
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.loader-wrapper .loader
{
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    border: 3px solid transparent;
    border-top-color: #65ff00;
    border-radius: 50%;
    z-index: 1001;
    animation: spin 1.5s infinite linear;
}
@keyframes spin
{
    0%
    {
        transform: rotate(0);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.loader-wrapper .loader::before,
.loader-wrapper .loader::after
{
    content:'';
    position: absolute;
    border-radius: 50%;

}
.loader-wrapper .loader::before
{
    top:5px;
    left:5px;
    right: 5px;
    bottom:5px;
    border: 3px solid transparent;
    border-top-color: #ceff1a;
    animation: spin 2s infinite linear;

}

.loader-wrapper .loader::after
{
    top:15px;
    left:15px;
    right: 15px;
    bottom:15px;
    border: 3px solid transparent;
    border-top-color: #65ff00;
    animation: spin 1s infinite linear;

}

.loader-section
{
    position: fixed;
    top:0;
    width:51%;
    height:100%;
    background:#fff9f9;
    z-index: 1000;

}
.loader-section.section-left
{
    left:0;
}
.loader-section.section-right
{
    right:0;
}
.loaded .section-left
{
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translateX(-100%);
}
.loaded .section-right
{
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translateX(100%);
}
.loaded .loader
{
    transition: all 0.3s ease-out;
    opacity: 0;
}
.loaded .loader-wrapper
{
    visibility: hidden;
    transform: translateY(-100%);
    transition: all 0.3s 1s ease-out;
}





